<div class="row">
    <div class="item" *ngFor="let item of collections">
        <div>
            <img src="{{item['collection'].image_url}}" style="width:50%;">
        </div>
        <div style="display: flex;flex-direction: column;">
            <span> Ttitle : {{item['collection'].title}}</span>
            <span> Description : {{item['collection'].description}}</span>
            <span> Restaurant count : {{item['collection'].res_count}}</span>
        </div>
    </div>
</div>